%section
  %ul.homeproduct
    - 1.upto(100) do |i|
      %li{style: i.divmod(5)[1] == 0 ? "margin-left: 0px" : "margin-right: 10px"}
        %a{href: ""}
          %img{height: "", src: "https://i1.ytimg.com/vi/doSSzjg8iyY/mqdefault.jpg", width: "232"}/
          %h3 Chim Sẻ bị Lê Văn Long phế truất ngôi vị người điều K hay nhất Việt Nam
          %p.view-count 11.084 lượt xem      }
