!!!
%html{:lang => "vi"}
  %head
    %title Long Phung Noel
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = render "theme"
    = javascript_include_tag 'application', 'data-turbolinks-track': true
    :scss
      body {
        background: url(/bg.jpg);
        background-size: 100%;
        button {
          outline: none;
        }
        #start {
          height: 60px;
          line-height: 60px;
          padding: 0 30px;
          font-size: 35px;
          font-family: "Arimo", monospace;
          color: #fff;
          border-radius: 100px;
          position: fixed;
          left: 5px;
          top: 5px;
          background: green;
          cursor: pointer;
        }
        .result {
          display: none;
          margin: auto;
          width: 100%;
          text-align: left;
          color: white;
          font-family: "Arimo", monospace;
        }
      }
      .title {
        font-family: "Arimo", monospace;
        color: #fff;
        font-weight: bold;
        text-align: center;
        background: rgba(143,2,34,1);
        background: -moz-linear-gradient(top, rgba(143,2,34,1) 0%, rgba(143,2,34,1) 49%, rgba(169,3,41,1) 50%, rgba(109,0,25,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(143,2,34,1)), color-stop(49%, rgba(143,2,34,1)), color-stop(50%, rgba(169,3,41,1)), color-stop(100%, rgba(109,0,25,1)));
        background: -webkit-linear-gradient(top, rgba(143,2,34,1) 0%, rgba(143,2,34,1) 49%, rgba(169,3,41,1) 50%, rgba(109,0,25,1) 100%);
        background: -o-linear-gradient(top, rgba(143,2,34,1) 0%, rgba(143,2,34,1) 49%, rgba(169,3,41,1) 50%, rgba(109,0,25,1) 100%);
        background: -ms-linear-gradient(top, rgba(143,2,34,1) 0%, rgba(143,2,34,1) 49%, rgba(169,3,41,1) 50%, rgba(109,0,25,1) 100%);
        background: linear-gradient(to bottom, rgba(143,2,34,1) 0%, rgba(143,2,34,1) 49%, rgba(169,3,41,1) 50%, rgba(109,0,25,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f0222', endColorstr='#6d0019', GradientType=0 );
      }
      .odometer.odometer-theme-car {
        text-align: center;
        font-size: 170px;
        line-height: 170px;
        display: block;
        width: 750px;
        max-width: 1000px;
        margin: auto;
        background: unset;
        padding: 0;
      }
      .namtrieu, .ip8 {
        width: 32%;
        position: fixed;
        bottom: 90px;
        right: 10px;
        display: none;
      }
      #logo {
        text-align: center;
        img {
          width: 50%;
          min-width: 300px;
        }
      }
    
  %body{style: "margin: 10px 50px"}
    #logo
      %img{src: "/logo.png"}
    .odometer-example
    .result
      %p.greeting{style: "font-size: 30px;margin-bottom: 0;"}
      %p.name{style: "font-size: 80px;-webkit-margin-before: 10px;-webkit-margin-after: 20px;"}
      %p.phone{style: "font-size: 50px;-webkit-margin-before: 0;"}
    %img.namtrieu{src: "/5000.png"}
    %img.ip8{src: "/ip8.png"}