default: &default
  adapter: mysql2
  encoding: utf8mb4
  collation: utf8mb4_unicode_ci
  pool: 30
  timeout: 5000
  reconnect: false

development:
  <<: *default
  username: root
  password:
  database: arcpub