
@media screen and (max-width: 320px) {
	.wrap-main {
		display: flex;
		align-items: center;
		a.logo{
			.icontgdd-logo {
    			background-size: 400px 110px;
			}
		}
		form#search-site{
			position: absolute;
		top: 50%;
		    right: -25%;
		transform: translate(-50%, -50%);
			max-width: 50vw;
			.btntop{
				position: absolute;
				right: 0.5vh;
				background:white;
				border:none;
				border-radius:  0 4px 4px 0;
			}
			.topinput{
				margin-top: 5px;
			}
		}
	}
}
@media screen and (min-width: 321px) and (max-width: 575px) {
	.wrap-main {
		display: flex;
		align-items: center;
		a.logo{
			.icontgdd-logo {
    			background-size: 400px 110px;
			}
		}
		form#search-site{
			position: absolute;
		top: 50%;
		    right: -15%;
		transform: translate(-50%, -50%);
			max-width: 50vw;
			.btntop{
				position: absolute;
				right: 0.5vh;
				background:white;
				border:none;
				border-radius:  0 4px 4px 0;
			}
			.topinput{
				margin-top: 5px;
			}
		}
	}

	.homeproduct{
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(15ch, 1fr));
		grid-gap: 1rem;
		 grid-auto-rows: minmax(100px, auto);
		 justify-content:space-evenly;
		li{
			padding: 0 0.5em;
			justify-content: center
		}
	}
}
@media screen and (min-width: 576px) and (max-width: 767px) {
	.wrap-main{
		display: flex;
		align-items: center;
		a.logo{
			.icontgdd-logo {
				background-size: 380px 110px;
			}
		}
		form#search-site{
			position: absolute;
		top: 50%;
		    right: 0;
		transform: translate(-50%, -50%);
			max-width: 50vw;
			.btntop{
				position: absolute;
				right: 0.5vh;
				background:white;
				border:none;
				border-radius:  0 4px 4px 0;
			}
			.topinput{
				margin-top: 5px;
			}
		}
	}
	.homeproduct {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(15ch, 1fr));
		grid-gap: 1rem;
		 grid-auto-rows: minmax(100px, auto);
		 justify-content:space-evenly;
		li{
			padding: 0 0.5em;
			justify-content: center
		}
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.wrap-main {
				display: flex;
		align-items: center;
		a.logo{
			.icontgdd-logo {
			background-size: 370px 110px;
			}
		};
		form#search-site{
			position: absolute;
		top: 50%;
		    right: 0;
		transform: translate(-50%, -50%);
			max-width: 50vw;
			.btntop{
				position: absolute;
				right: 0.5vh;
				background:white;
				border:none;
				border-radius:  0 4px 4px 0;
			}
			.topinput{
				margin-top: 5px;
			}
		}
	}
	.homeproduct {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(15ch, 1fr));
		grid-gap: 1rem;
		 grid-auto-rows: minmax(100px, auto);
		 justify-content:space-evenly;
		li{
			padding: 0 0.5em;
			justify-content: center
		}
	}	
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.wrap-main {
				display: flex;
		align-items: center;
		a.logo{
			.icontgdd-logo {
				background-size: 380px 110px;
			}
		}
		form#search-site {
			position: absolute;
		top: 50%;
		    right: 0;
		transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
			.topinput{
				margin-top: 5px;
			}
		}
	}
	.homeproduct {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(15ch, 1fr));
		grid-gap: 1rem;
		 grid-auto-rows: minmax(100px, auto);
		 justify-content:space-evenly;
		li{
			padding: 0 0.5em;
			justify-content: center
		}

	}		
}
@media screen and (min-width: 1200px) {
	.wrap-main {
				display: flex;
		align-items: center;
		a.logo{
			.icontgdd-logo {
				background-size: 380px 110px;
			}
		};
		form#search-site {
			position: absolute;
		top: 50%;
		right: 1vw;
		transform: translate(-50%, -50%);
			.topinput{
				margin-top: 5px;
			}
		}
	}
	.homeproduct {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(15ch, 15%));
		grid-gap: 1%;
		 grid-auto-rows: minmax(100px, auto);
		 justify-content:space-evenly;
	}	
}