%footer
  .rowfoot1
    %ul.colfoot
      %li
        %a{:href => "/tra-gop", :title => "Hướng dẫn mua trả góp"} Tìm hiểu về mua trả góp
      %li
        %a{:href => "/bao-hanh", :title => "Tìm trung tâm bảo hành"} Chính sách bảo hành
      %li
        %a{:href => "/chinh-sach-bao-hanh-san-pham", :title => "Chính sách đổi trả"} Chính sách đổi trả
      %li
        %a{:href => "/giao-hang", :title => "Giao hàng & Thanh toán"} Giao hàng & Thanh toán
      %li.showmore
        %a{:href => "javascript:ShowMoreFooterSupportLink()", :title => "Xem thêm"} Xem thêm
      %li.hidden
        %a{:href => "/huong-dan-mua-hang", :title => "Hướng dẫn mua online"} Hướng dẫn mua online
      %li.hidden
        %a{:href => "/b2b", :title => "Mua hàng doanh nghiệp"} Bán hàng doanh nghiệp
      %li.hidden
        %a{:href => "/phieu-mua-hang", :title => "Phiếu mua hàng"} Phiếu mua hàng
      %li.hidden
        %a{:href => "//hddt.thegioididong.com", :rel => "nofollow", :target => "_blank", :title => "In hóa đơn điện tử"} In hóa đơn điện tử
      %li.hidden
        %a{:href => "/tos", :title => "Quy chế hoạt động"} Quy chế hoạt động
      %li.hidden
        %a{:href => "/noi-quy-cua-hang", :title => "Nội quy cửa hàng"} Nội quy cửa hàng
      %li.hidden
        %a{:href => "/chat-luong-phuc-vu", :title => "Chất lượng phục vụ"} Chất lượng phục vụ
      %li.hidden
        %a{:href => "/trao-thuong", :title => "Thông tin trao thưởng"} Thông tin trao thưởng